{{#> layout title='My Project'}}

  <main class="contact-section">
    {{!-- <form action="/myproject" method="post" class="contact-form">
      <div class="form-title">
        <h2>ADD MY PROJECT</h2>
      </div>
      <div class="form-field">
        <label for="name">Project Name</label>
        <input id="name" name="name" class="form-input" type="text" required />
      </div>

      <div class="form-date">
        <div class="form-field-date">
          <label for="sdate">Start Date</label>
          <input id="sdate" name="sdate" class="form-input-date" type="date" min="2023-01-01" max="2030-12-31"
            required />
        </div>
        <div class="form-field-date">
          <label for="edate">End Date</label>
          <input id="edate" name="edate" class="form-input-date" type="date" min="2023-01-01" max="2030-12-31"
            required />

        </div>
      </div>

      <div class="form-field-area">
        <label class="message-contact" for="message">Your Message</label>
        <textarea rows="6" id="message" name="message" class="form-input-area" required></textarea>
      </div>



      <div class="form-field-box">
        <div>
          <label>Technologies</label>
        </div>
      </div>
      <div class="form-input-box">
        <div>
          <input type="checkbox" id="" name="technologies" value="nodejs">
          <label for="nodejs">Node Js</label><br>
          <input type="checkbox" id="" name="technologies" value="nextjs">
          <label for="nextjs">Next Js</label>
        </div>
        <div>
          <input type="checkbox" id="" name="technologies" value="reachjs">
          <label for="reachjs">Reach Js</label><br>
          <input type="checkbox" id="typescript" name="technologies" value="typescript">
          <label for="TypeScript">TypeScript</label>
        </div>
      </div>


      <div class="form-field-image">
        <label for="upload-image">Upload Image</label>
        <div for="upload-image" class="input-image">
          <div class="choose">
            <label for="upload-image">choose</label>
          </div>
          <input id="upload-image" name="upload-image" hidden type="file" required placeholder="upload image" />
        </div>
      </div>
      <div class="form-button"><button type="submit" class="form-submit-button">Submit</button></div>
    </form> --}}

    {{!-- <hr class="line" /> --}}
    

    <section class="blog-container">
       <a class="btn btn-add  position-absolute top-45 end-0 translate-middle-y" href="/createmyproject">Add Project</a>
      <div class=" project-title text-center">
              <p class="">MY PROJECT </p>             
              </div>
      <div id="blogList" class="blog-list">

        {{!-- <div class="blog-list-item">
          <div class="blog-image-title">
            <div class="blog-image">
              <img src="./Asset/image/blog-img.png" alt="blog-image" />
            </div>
            <div>
              <p>
                <a href="/blog" class="blog-item-title">
                  Pasar Coding di Indonesia Masih Menjanjikan
                </a>
              </p>
              <div>
                <p class="detail-blog-content"> durasi : 3 bulan </p>
              </div>
            </div>
          </div>
          <div>
            <p class="blog-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
              explicabo totam labore sit tempore, voluptate vitae nesciunt in
              maiores rerum, vero veritatis numquam iure aut sunt nemo.
            </p>
            <p class="relative-time">5 Months ago</p>
          </div>
          <div>
            <img class="blog-icon" src="./Asset/image/play.png" alt="Logo Play Store "></img>
            <img class="blog-icon" src="./Asset/image/andro.png" alt="Logo Android "></img>
            <img class="blog-icon" src="./Asset/image/java.png" alt="Logo Java "></img>
          </div>
          <div class="blog-content">
            <div class="btn-group">
              <button class="btn-edit">Edit Post</button>
              <button class="btn-post">Post Blog</button>
            </div>
          </div>
        </div> --}}

          {{#each blogs }}
         <div id="${i}" class="blog-list-item">
          <div class="blog-image-title">
            <div class="blog-image">
              <img src="./asset/image/" alt="blog-image" />
            </div>
            <div>
              <p>
                <a href="/project-detail/{{@index}}" class="blog-item-title">
                   {{this.name}}
                </a>
              </p>
              <div>
                <p class="detail-blog-content"> durasi : {{getDuring this.sdate this.edate}}</p>
                <p>{{formatDataToWIB this.postedAt}}</p>         
                <p>{{this.technologies}} </p>
              </div>
            </div>
          </div>
          <div>
            <p class="blog-text">
            {{this.message}}
            </p>
            <p class="relative-time">{{getRelativeTime this.postedAt}}</p>
          </div>
          <div>
            <img class="blog-icon" src="./Asset/image/play.png" alt="Logo Play Store "></img>
            <img class="blog-icon" src="./Asset/image/andro.png" alt="Logo Android "></img>
            <img class="blog-icon" src="./Asset/image/java.png" alt="Logo Java "></img>
          </div>
          <div class="blog-content">
            <div class="btn-group">              
             <a href="/project-edit/{{@index}}"><button class="btn-edit">Edit</button></a>                             
              <form action="/delete-project{{@index}}?_method=delete" method="post">
              <button onclick="return confirm('Are you sure want to delete?')"  type="submit" class="btn-delete">Delete</button>
              </form>
            </div>
          </div>
          </div>
          {{else}}
          <p>Belum ada yang di post</p> 
          {{/each}}



        {{!-- <script src="/Asset/js/submitForm.js"></script> --}}
      </div>
    </section>

  </main>

{{/layout}}